<div class="carousel-item" id="video_5">
    <div class="cuadroCentral">
      <!-- /* cuadro basado en el header que contiene: logo / titulo junto con hora / numero de telefono */ -->
      <!-- {% include "lotoview/header.html" %} -->
      <!-- /* cuadro basado en el header que contiene: logo / titulo junto con hora / numero de telefono */ -->
      <div
        class="cuadro-central"
        data-aos="zoom-in-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
      <style>
        .video {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 700px;
            
        }
        video{
          height: 100%;
            width: 100%;
            background-color: black;  
        }
    </style>
    <div class="video">
      <video   controls muted playsinline preload id="video_promo_5" > 
        <source src="{{ video_5.video.url }}" type="video/mp4">
      </video> 
    </div>
      </div>
    </div>
  </div>