 
.cuadroCentral{
    margin: 8px 30px; 

}
.cuadro-central{
    width: 100%;
    height: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    
}
/* cuadro basado en el header que contiene: logo / titulo junto con hora / numero de telefono */
 
header .titulo-flex{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
}


/* cuadro basado en el header que contiene: logo / titulo junto con hora / numero de telefono */

 
.cuadro{
    margin: 10px;
    width: 100%;  
    height: 100%;
    background-color: rgba(255, 255, 255, 0.123);
    border: 5px solid rgb(211, 211, 211); 
    border-radius: 10px;
    box-shadow:
    1.5px 1.8px 6.7px rgba(0, 0, 0, 0.078),
    3.9px 4.5px 16.9px rgba(0, 0, 0, 0.082),
    8px 9.2px 34.6px rgba(0, 0, 0, 0.082),
    16.4px 19px 71.2px rgba(0, 0, 0, 0.081),
    45px 52px 195px rgba(0, 0, 0, 0.08);
    
}
 
.cuadro .cuadro1{
    width: 100%;     
    border-radius: 10px;
    
}
.cuadro .cuadro1 .cuadroLadoalado {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.cuadro .cuadro1 .cuadroLadoalado .cuadroTexto{
    font-size: 15px;
}
.cuadro .cuadro1 .cuadroLadoalado img{
    width: 120px;
    height: 75px;
}
.cuadro .cuadro2{
    width: 100%;
    height: 100%;    
}
.cuadro .cuadro3{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

/* cuadro numero 2 */
.cuadroLadoalado .cuadroHora{
    display: flex;
    justify-content: center; 
}
.cuadroLadoalado .cuadroHora h5{
    font-size: 18px;
}
.cuadroresultado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px; 
}
.cuadroResultado-uno{
    display: block;
    text-align: center; 
}
.cuadroresultado .cuadroResultado-uno .opcion{
    background-color: blue;
    color:white;
    text-align: center;
    border-radius: 25px; 
    width: 80px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

.cuadroresultado .cuadroResultado-uno .resultado{
    background-color: #F4F4F4;
    color:black;
    text-align: center;
    border-radius: 25px; 
    width: 80px;
    font-weight: bold;
}

/* tabla */
 
table{
    width: 100%; 
    flex-direction: row; 
    border-collapse: separate;
    border-spacing: 10px 5px;
}
thead tr th{
    background-color: blue;
    color:white;
    text-align: center;
    border-radius: 10px;  
    padding: 10px;   
    font-size: 12px;

 } 

tr td{ 
    background-color: #F4F4F4;
    color:black;
    text-align: center;
    border-radius: 10px;  
    font-weight: bold;  
    font-size: 12px;

}

/* tabla */
/* Cuando la pantalla es menor a 900px  (tablets y teléfonos inteligentes)*/
@media only screen and (max-width : 900px) {
    .cuadroCentral{
        margin: 0px 15px; 
    }
    .cuadro-central{
        width: 100%;
        height: 100%; 
        display: block; 
        /* margin-bottom: 100px; */
    }
    /* cuadro basado en el header que contiene: logo / titulo junto con hora / numero de telefono */
    header{
        border: 1px solid black; 
        margin-bottom: 10px;
    
    }
    header .titulo-flex{
        display: block; 
        text-align: center;
        width: 100%;
    } 
    
    /* cuadro basado en el header que contiene: logo / titulo junto con hora / numero de telefono */
    
        .cuadro{ 
            width: 100%;  
            text-align: center;
            margin: 0px;
        }
    
            
        /* cuadro numero 1 */
    
        .cuadro .cuadro1{
            width: 100%;     
            border-radius: 10px;
            
        }
        .cuadro .cuadro1 .cuadroLadoalado {
            display: block; 
        }
        .cuadro .cuadro1 .cuadroLadoalado .cuadroTexto{
            font-size: 15px;
        }
        .cuadro .cuadro1 .cuadroLadoalado img{
            width: 120px;
            height: 75px;
        }
            /* cuadro numero 1 */
    
            /* cuadro numero 2 */
        .cuadro .cuadro2{
            width: 100%;
            height: 100%;
            text-align: center; 
        }
            .cuadroLadoalado .cuadroHora{
                display: block;
             }
            .cuadroLadoalado .cuadroHora h5{
                font-size: 18px;
            }
            .cuadroresultado{
                display: block;
            }
            .cuadroResultado-uno{
                display: block;
                text-align: center; 
            } 
            .cuadroresultado .cuadroResultado-uno .opcion{
               width: 100%;
            }
            
            .cuadroresultado .cuadroResultado-uno .resultado{
                background-color: #F4F4F4;
                color:black;
                text-align: center;
                border-radius: 5px; 
                width: 100%;
                font-weight: bold;
            }
            /* cuadro numero 2 */
        .cuadro .cuadro3{
            width: 100%;
            margin-top: 10px;
            text-align: center;
        }
        
    }
/* iPads (landscape) 
#Dispositivo = Tablets, Ipads (horizontal) 
#Resolución = B/w 768px to 1024px */
@media only screen and (min-device-width : 900px) and (max-device-width : 1366px) 
and (orientation : landscape) {
    .cuadro-central{
        width: 100%;
        height: 100%;
        margin: 30px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        
    }
    /* cuadro basado en el header que contiene: logo / titulo junto con hora / numero de telefono */
 header{
    margin-bottom: 15px;
 }
header .titulo-flex{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
}
header .text-titulo h1{
    text-align: center;
    font-size: 25px;
}


/* cuadro basado en el header que contiene: logo / titulo junto con hora / numero de telefono */
    .cuadro{  
        padding: 30px 0px;
        width: 95%; 
        height: 100%;
        background-color: rgba(255, 255, 255, 0.123);
        border: 5px solid rgb(211, 211, 211); 
        border-radius: 10px;
        box-shadow:
        1.5px 1.8px 6.7px rgba(0, 0, 0, 0.078),
        3.9px 4.5px 16.9px rgba(0, 0, 0, 0.082),
        8px 9.2px 34.6px rgba(0, 0, 0, 0.082),
        16.4px 19px 71.2px rgba(0, 0, 0, 0.081),
        45px 52px 195px rgba(0, 0, 0, 0.08);
    }
}