<!-- 
{% load static %}
<div class="cuadro">
    <div class="cuadro1">
        <div class="cuadroLadoalado">
            <div class="cuadroTexto">
                <h5>KINGO TACHIRA</h5>
            </div>
            <div class="cuadroImagen">
                <img src="{% static 'img/loteria/kingo.png' %}" alt="" id="foto1" />
            </div>
        </div>
    </div>
        <div class="cuadro2">
            <div class="cuadroHora">
                <h5 style="visibility: hidden;">01:00 PM</h5>
            </div>
                <div class="cuadroTabla" style="display: flex; justify-content: center;">
                            <table class="Ricachona tabla_loteria"> 
                                <tr>
                                    <td></td>
                                </tr> 
                            </table>   
                </div>
        </div>
</div> -->