
<!-- {% load static %}
<div class="cuadro">
    <div class="cuadro1">
        <div class="cuadroLadoalado">
            <div class="cuadroTexto">
                <h5>KINO TACHIRA</h5>
            </div>
            <div class="cuadroImagen">
                <img src="{% static 'img/loteria/kino.png' %}" alt="" id="foto1" />
            </div>
        </div>
    </div>
    <div class="cuadro2">
            <div class="cuadroTabla" style="display: flex; justify-content: center;">
                        <table class="Ricachona tabla_loteria"> 
                            <tr>
                                <td></td>
                            </tr> 
                        </table>   
            </div>
    </div>
</div> -->