<div class="cuadroCentral "> 
    <div class="cuadro-central" data-aos="fade-up" data-aos-easing="linear"
    data-aos-duration="1500">
        <div class="cuadro">
            <div class="cuadro1">
                <div class="cuadroLadoalado">
                    <div class="cuadroTexto">
                        <h5>Triple Chance</h5>
                        
                    </div>
                    <div class="cuadroImagen">
                        <img src="./img/loteria/triple-chance-logo.png" alt="" id="foto1">
                    </div>
                </div>
            </div>
              <div class="cuadro2">
                  <div class="cuadroLadoalado">
                       <div class="cuadroHora">
                        <h5>01:00 PM</h5>
                       </div>
                       <table >
                        <thead>
                          <tr> 
                            <th>A</th>
                            <th>B</th>
                            <th>C</th>
                            <th >ZOD</th>
                          </tr> 
                        </thead> 
                        <tr>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                          <td style="color: red;">--</td>
                        </tr> 
                      </table>  
                  </div>
                  <div class="cuadroLadoalado">
                    <div class="cuadroHora">
                     <h5>04:30 PM</h5>
                    </div>
                    <table >
                     <thead>
                       <tr> 
                         <th>A</th>
                         <th>B</th>
                         <th>C</th>
                         <th >ZOD</th>
                       </tr> 
                     </thead> 
                     <tr>
                       <td>--</td>
                       <td>--</td>
                       <td>--</td>
                       <td style="color: red;">--</td>
                     </tr> 
                   </table>  
               </div>
               <div class="cuadroLadoalado">
                <div class="cuadroHora">
                 <h5>07:10 PM</h5>
                </div>
                <table >
                 <thead>
                   <tr> 
                     <th>A</th>
                     <th>B</th>
                     <th>C</th>
                     <th >ZOD</th>
                   </tr> 
                 </thead> 
                 <tr>
                   <td>--</td>
                   <td>--</td>
                   <td>--</td>
                   <td style="color: red;">--</td>
                 </tr> 
               </table>  
           </div>
              </div>
            <div class="cuadro3">
                
            </div>
        </div>

        <!-- desde aca -->
        <div class="cuadro" >
          <div class="cuadro1" >
              <div class="cuadroLadoalado">
                  <div class="cuadroTexto">
                      <h5>Trio Activo</h5>
                      
                  </div>
                  <div class="cuadroImagen">
                      <img src="./img/loteria/trio-activo-logo.png" alt="" id="foto1">
                  </div>
              </div>
          </div>
          <div class="cuadro2">
            <div class="cuadroHora">
              <h5 style="visibility: hidden;">01:00 PM</h5>
             </div>
            <div class="cuadroTabla" style="display: flex; justify-content: center;">
              <table>
                <thead>
                  <tr> 
                    <th>09:00AM</th>
                  </tr> 
                </thead> 
                <tr>
                  <td>--</td>
                </tr> 
              </table>  
              <table >
                <thead>
                  <tr> 
                    <th>10:00AM</th>
                  </tr> 
                </thead> 
                <tr>
                  <td>--</td>
                </tr> 
              </table>  
              <table >
                <thead>
                  <tr> 
                    <th>11:00AM</th>
                  </tr> 
                </thead> 
                <tr>
                  <td>--</td>
                </tr> 
              </table>  
              <table >
                <thead>
                  <tr> 
                    <th>12:00PM</th>
                  </tr> 
                </thead> 
                <tr>
                  <td>--</td>
                </tr> 
              </table>  
            </div>
            <div class="cuadroHora">
              <h5 style="visibility: hidden;">01:00 PM</h5>
             </div>
            <div class="cuadroTabla" style="display: flex; justify-content: center;">
              <table>
                <thead>
                  <tr> 
                    <th>01:00PM</th>
                  </tr> 
                </thead> 
                <tr>
                  <td>--</td>
                </tr> 
              </table>  
              <table >
                <thead>
                  <tr> 
                    <th>02:00PM</th>
                  </tr> 
                </thead> 
                <tr>
                  <td>--</td>
                </tr> 
              </table>  
              <table >
                <thead>
                  <tr> 
                    <th>03:00PM</th>
                  </tr> 
                </thead> 
                <tr>
                  <td>--</td>
                </tr> 
              </table>  
              <table >
                <thead>
                  <tr> 
                    <th>04:00PM</th>
                  </tr> 
                </thead> 
                <tr>
                  <td>--</td>
                </tr> 
              </table>  
            </div>
            <div class="cuadroHora">
              <h5 style="visibility: hidden;">01:00 PM</h5>
             </div>
            <div class="cuadroTabla" style="display: flex; justify-content: center;">
              <table>
                <thead>
                  <tr> 
                    <th>05:00PM</th>
                  </tr> 
                </thead> 
                <tr>
                  <td>--</td>
                </tr> 
              </table>  
              <table >
                <thead>
                  <tr> 
                    <th>06:00PM</th>
                  </tr> 
                </thead> 
                <tr>
                  <td>--</td>
                </tr> 
              </table>  
              <table >
                <thead>
                  <tr> 
                    <th>07:00PM</th>
                  </tr> 
                </thead> 
                <tr>
                  <td>--</td>
                </tr> 
              </table>  
              <table >
                <thead>
                  <tr> 
                    <th>08:00PM</th>
                  </tr> 
                </thead> 
                <tr>
                  <td>--</td>
                </tr> 
              </table>  
            </div>
          </div>
      </div>
      <div class="cuadro">
        <div class="cuadro1">
            <div class="cuadroLadoalado">
                <div class="cuadroTexto">
                    <h5>RICACHONA</h5>
                    
                </div>
                <div class="cuadroImagen">
                    <img src="./img/loteria/triple-ricachona-logo.png" alt="" id="foto1">
                </div>
            </div>
        </div>
        <div class="cuadro2">
          <div class="cuadroHora">
            <h5 style="visibility: hidden;">01:00 PM</h5>
           </div>
          <div class="cuadroTabla" style="display: flex; justify-content: center;">
            <table>
              <thead>
                <tr> 
                  <th>09:15AM</th>
                </tr> 
              </thead> 
              <tr>
                <td>--</td>
              </tr> 
            </table>  
            <table >
              <thead>
                <tr> 
                  <th>10:15AM</th>
                </tr> 
              </thead> 
              <tr>
                <td>--</td>
              </tr> 
            </table>  
            <table >
              <thead>
                <tr> 
                  <th>11:15AM</th>
                </tr> 
              </thead> 
              <tr>
                <td>--</td>
              </tr> 
            </table>  
            <table >
              <thead>
                <tr> 
                  <th>12:15PM</th>
                </tr> 
              </thead> 
              <tr>
                <td>--</td>
              </tr> 
            </table>  
          </div>
          <div class="cuadroHora">
            <h5 style="visibility: hidden;">01:00 PM</h5>
           </div>
          <div class="cuadroTabla" style="display: flex; justify-content: center;">
            <table>
              <thead>
                <tr> 
                  <th>01:15PM</th>
                </tr> 
              </thead> 
              <tr>
                <td>--</td>
              </tr> 
            </table>  
            <table >
              <thead>
                <tr> 
                  <th>02:15PM</th>
                </tr> 
              </thead> 
              <tr>
                <td>--</td>
              </tr> 
            </table>  
            <table >
              <thead>
                <tr> 
                  <th>03:15PM</th>
                </tr> 
              </thead> 
              <tr>
                <td>--</td>
              </tr> 
            </table>  
            <table >
              <thead>
                <tr> 
                  <th>04:15PM</th>
                </tr> 
              </thead> 
              <tr>
                <td>--</td>
              </tr> 
            </table>  
          </div>
          <div class="cuadroHora">
            <h5 style="visibility: hidden;">01:00 PM</h5>
           </div>
          <div class="cuadroTabla" style="display: flex; justify-content: center;">
            <table>
              <thead>
                <tr> 
                  <th>05:15PM</th>
                </tr> 
              </thead> 
              <tr>
                <td>--</td>
              </tr> 
            </table>  
            <table >
              <thead>
                <tr> 
                  <th>06:15PM</th>
                </tr> 
              </thead> 
              <tr>
                <td>--</td>
              </tr> 
            </table>  
            <table >
              <thead>
                <tr> 
                  <th>07:15PM</th>
                </tr> 
              </thead> 
              <tr>
                <td>--</td>
              </tr> 
            </table>  
            <table >
              <thead>
                <tr> 
                  <th>08:15PM</th>
                </tr> 
              </thead> 
              <tr>
                <td>--</td>
              </tr> 
            </table>  
          </div>
        </div>
    </div>

        <!-- hasta aca -->

    <div class="cuadro">
      <div class="cuadro1">
          <div class="cuadroLadoalado">
              <div class="cuadroTexto">
                  <h5>Triple Tachira</h5>
                  
              </div>
              <div class="cuadroImagen">
                  <img src="./img/loteria/triple-tachira-logo..png" alt="" id="foto1">
              </div>
          </div>
      </div>
              <div class="cuadro2">
                  <div class="cuadroLadoalado">
                       <div class="cuadroHora">
                        <h5>01:00 PM</h5>
                       </div>
                       <table >
                        <thead>
                          <tr> 
                            <th>A</th>
                            <th>B</th>
                            <th>C</th>
                            <th >ZOD</th>
                          </tr> 
                        </thead> 
                        <tr>
                          <td>--</td>
                          <td>--</td>
                          <td>--</td>
                          <td style="color: red;">--</td>
                        </tr> 
                      </table>  
                  </div>
                  <div class="cuadroLadoalado">
                    <div class="cuadroHora">
                     <h5>04:30 PM</h5>
                    </div>
                    <table >
                     <thead>
                       <tr> 
                         <th>A</th>
                         <th>B</th>
                         <th>C</th>
                         <th >ZOD</th>
                       </tr> 
                     </thead> 
                     <tr>
                       <td>--</td>
                       <td>--</td>
                       <td>--</td>
                       <td style="color: red;">--</td>
                     </tr> 
                   </table>  
               </div>
               <div class="cuadroLadoalado">
                <div class="cuadroHora">
                 <h5>07:10 PM</h5>
                </div>
                <table >
                 <thead>
                   <tr> 
                     <th>A</th>
                     <th>B</th>
                     <th>C</th>
                     <th >ZOD</th>
                   </tr> 
                 </thead> 
                 <tr>
                   <td>--</td>
                   <td>--</td>
                   <td>--</td>
                   <td style="color: red;">--</td>
                 </tr> 
               </table>  
           </div>
              </div>
  </div>
    </div>
  
  </div>