{% load static %}
<div class="cuadro">
    <div class="cuadro1">
        <div class="cuadroLadoalado">
            <div class="cuadroTexto">
              <h5>Trio Activo</h5>
            </div>
            <div class="cuadroImagen">
              <img
                src="{% static 'img/loteria/trio-activo-logo.png' %}"
                alt=""
                id="foto1"
              />
            </div>
        </div>
    </div>
    <div class="cuadro2">
        <div class="cuadroHora">
            <h5 style="visibility: hidden;">01:00 PM</h5>
        </div>
        {% with records=TrioActivo %}
            <div class="cuadroTabla" style="display: flex; justify-content: center;">
                {% for record in records %}
                    {% if forloop.counter <= 4 %}
                        <table class="TrioActivo tabla_loteria">
                            <thead>
                                <tr> 
                                    <th>{{ record.hour_sort }}</th>
                                </tr> 
                            </thead> 
                            <tr>
                                <td>{{ record.a }}</td>
                            </tr> 
                        </table>   
                    {% endif %}
                {% endfor %}
            </div>
        {% endwith %}
        
        <div class="cuadroHora">
          <h5 style="visibility: hidden;">01:00 PM</h5>
      </div>
        {% with records=TrioActivo %}
            <div class="cuadroTabla" style="display: flex; justify-content: center;">
                {% for record in records %}
                    {% if forloop.counter > 4 and forloop.counter <= 8 %}
                    <table class="TrioActivo tabla_loteria">
                            <thead>
                                <tr> 
                                    <th>{{ record.hour_sort }}</th>
                                </tr> 
                            </thead> 
                            <tr>
                                <td>{{ record.a }}</td>
                            </tr> 
                        </table>   
                    {% endif %}
                {% endfor %}
            </div>
        {% endwith %}
        
        <div class="cuadroHora">
          <h5 style="visibility: hidden;">01:00 PM</h5>
      </div>
        {% with records=TrioActivo %}
            <div class="cuadroTabla" style="display: flex; justify-content: center;">
                {% for record in records %}
                    {% if forloop.counter > 8 and forloop.counter <= 12 %}
                    <table class="TrioActivo tabla_loteria">
                            <thead>
                                <tr> 
                                    <th>{{ record.hour_sort }}</th>
                                </tr> 
                            </thead> 
                            <tr>
                                <td>{{ record.a }}</td>
                            </tr> 
                        </table>   
                    {% endif %}
                {% endfor %}
            </div>
        {% endwith %}
    </div>
</div>
