{% load static %}
<div class="cuadro">
    <div class="cuadro1">
      <div class="cuadroLadoalado">
        <div class="cuadroTexto">
          <h5>Triple Caracas</h5>
        </div>
        <div class="cuadroImagen">
          <img
            src="{% static 'img/loteria/triple-caracas-logo.png' %}"
            alt=""
            id="foto1"
          />
        </div>
      </div>
    </div>
    <div class="cuadro2">
        
    {% with records=TripleCaracas %}
    {% for record in records %}
      <div class="cuadroLadoalado">
        <div class="cuadroHora">
            <h5>{{ record.hour_sort }}</h5>
        </div>
        <table class="TripleCaracas-{{ forloop.counter }} tabla_loteria">
          <thead>
            <tr>
              <th>A</th>
              <th>B</th>
              <th>C</th>
              <th>ZOD</th>
            </tr>
          </thead>
          <tr>
            <td>{{ record.a }}</td>
            <td>{{ record.b }}</td>
            <td>{{ record.c }}</td>
            <td style="color: red">{{ record.zod }}</td>
            <!-- <td>000</td>
            <td>000</td>
            <td>000</td>
            <td style="color: red">000</td> -->
          </tr>
        </table>
      </div>
      {% endfor %}
      {% endwith %}

    </div>
    <div class="cuadro3"></div>
  </div>