{% extends "admin/partials/base.html" %}
{% load static %}
{% block title %}Listado de Categorias{% endblock title %}
{% block extra_css %}
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <!-- dropzone css -->
    <link rel="stylesheet" href="{% static 'administrador/libs/dropzone/dist/dropzone.css'%}" type="text/css" />

    <!-- Filepond css -->
    <link rel="stylesheet" href="{% static 'administrador/libs/filepond/dist/filepond.min.css'%}" type="text/css" />
    <link rel="stylesheet" href="{% static 'administrador/libs/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css'%}">
{% endblock extra_css %}
{% block content %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    {% block pagetitle %}
                    {% include "admin/partials/page-title.html" %}
                    {% endblock pagetitle %}

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">{{ title }}</h5>
                                </div>
                                <div class="card-body">
                                    <button id="reload-button" class="btn btn-primary">Recargar páginas</button>
                                </div>

                                <div class="card-body">
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Subir Video 1</h5>
                                </div>
                                <div class="card-body">
                                    <form id="videoForm" method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="name" required value="video_1">
                                        <input type="file" name="video" required>
                                        <button type="submit" value="Upload" class="btn btn-primary bg-gradient waves-effect waves-light">
                                            <i class="las la-save" style="font-size: 20px;"></i>
                                            Guardar Registro
                                        </button>
                                    </form>
                                    <!-- Barra de progreso -->
                                    <br>
                                    <div class="progress" style="display: none;">
                                        <div id="progress-bar" class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->

                    
                    {% if video != None %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Video Actual</h5>
                                </div>

                                <div class="card-body" style="display: flex; justify-content: center; align-items: center; height: 500px;">
                                    <video width="" height="500" controls muted playsinline preload  class="pb-xl-1 pt-xl-2"> 
                                        <source src="{{ video.video.url }}" type="video/mp4">
                                        Tu navegador no soporta la etiqueta de video.
                                      </video>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-grid gap-2" >
                                        <button class="btn btn-danger" type="button" id="delete-button">Eliminar video</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Subir Video 2</h5>
                                </div>
                                <div class="card-body">
                                    <form id="videoForm_2" method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="name" required value="video_2">
                                        <input type="file" name="video" required>
                                        <button type="submit" value="Upload" class="btn btn-primary bg-gradient waves-effect waves-light">
                                            <i class="las la-save" style="font-size: 20px;"></i>
                                            Guardar Registro
                                        </button>
                                    </form>
                                    <!-- Barra de progreso -->
                                    <br>
                                    <div class="progress" style="display: none;">
                                        <div id="progress-bar-2" class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->

                    
                    {% if video_2 != None %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Video Actual</h5>
                                </div>

                                <div class="card-body" style="display: flex; justify-content: center; align-items: center; height: 500px;">
                                    <video width="" height="500" controls muted playsinline preload  class="pb-xl-1 pt-xl-2"> 
                                        <source src="{{ video_2.video.url }}" type="video/mp4">
                                        Tu navegador no soporta la etiqueta de video.
                                      </video>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-grid gap-2" >
                                        <button class="btn btn-danger" type="button" id="delete-button-2">Eliminar video</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Subir Video 3</h5>
                                </div>
                                <div class="card-body">
                                    <form id="videoForm_3" method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="name" required value="video_3">
                                        <input type="file" name="video" required>
                                        <button type="submit" value="Upload" class="btn btn-primary bg-gradient waves-effect waves-light">
                                            <i class="las la-save" style="font-size: 20px;"></i>
                                            Guardar Registro
                                        </button>
                                    </form>
                                    <!-- Barra de progreso -->
                                    <br>
                                    <div class="progress" style="display: none;">
                                        <div id="progress-bar-3" class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->

                    
                    {% if video_3 != None %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Video Actual</h5>
                                </div>

                                <div class="card-body" style="display: flex; justify-content: center; align-items: center; height: 500px;">
                                    <video width="" height="500" controls muted playsinline preload  class="pb-xl-1 pt-xl-2"> 
                                        <source src="{{ video_3.video.url }}" type="video/mp4">
                                        Tu navegador no soporta la etiqueta de video.
                                      </video>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-grid gap-2" >
                                        <button class="btn btn-danger" type="button" id="delete-button-3">Eliminar video</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}


                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
        {% block footer %}
        {% include "admin/partials/footer.html" %}
        {% endblock footer %}
        </div>
        <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--datatable js-->
    <!-- <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script> -->
    <script type="text/javascript">
        // var spanishData = "{% static 'js/erp/datatables/spanish.txt' %}";
    </script>
    <!-- <script src="{% static 'administrador/js/erp/datatables/datatable-list.js' %}"></script> -->
    <script src="{% static 'js/reload.js' %}"></script>
    <script src="{% static 'administrador/js/sweetalert2/sweet-alert-2-11.js'%}"></script>
    <script src="{% static 'administrador/js/functions.js'%}"></script>
<script>
$(document).ready(function () {

    $('#videoForm').on('submit', function(e) {
    e.preventDefault();
    var formData = new FormData(this);

    // Crea un nuevo objeto XMLHttpRequest
    var xhr = new XMLHttpRequest();

    // Configura la solicitud POST
    xhr.open('POST', '{% url 'core:upload_video' %}', true);

    // Muestra la barra de progreso
    $('.progress').show();

    // Configura la barra de progreso
    xhr.upload.onprogress = function(e) {
        if (e.lengthComputable) {
            var percentComplete = (e.loaded / e.total) * 100;
            $('#progress-bar').css('width', percentComplete + '%').attr('aria-valuenow', percentComplete);
            if (percentComplete === 100) {
                $('#progress-bar').removeClass('bg-primary').addClass('bg-success');
            }
        }
    };

    // Configura las respuestas de éxito y error
    xhr.onload = function() {
        // Oculta la barra de progreso
        $('.progress').hide();

        if (xhr.status === 200) {
            var data = JSON.parse(xhr.responseText);
            Swal.fire({
                title: '¡Éxito!',
                text: data.message,
                icon: 'success'
            }).then((result) => {
                // Recarga la página cuando se cierre la ventana de Swal
                if (result.isConfirmed) {
                    window.location.reload();
                }
            });
        } else {
            var data = JSON.parse(xhr.responseText);
            Swal.fire({
                title: '¡Error!',
                text:  data.error,
                icon: 'error'
            });
        }
    };

    // Envia la solicitud
    xhr.send(formData);
});


$('#videoForm_2').on('submit', function(e) {
    e.preventDefault();
    var formData = new FormData(this);

    // Crea un nuevo objeto XMLHttpRequest
    var xhr = new XMLHttpRequest();

    // Configura la solicitud POST
    xhr.open('POST', '{% url 'core:upload_video' %}', true);

    // Muestra la barra de progreso
    $('.progress').show();

    // Configura la barra de progreso
    xhr.upload.onprogress = function(e) {
        if (e.lengthComputable) {
            var percentComplete = (e.loaded / e.total) * 100;
            $('#progress-bar-2').css('width', percentComplete + '%').attr('aria-valuenow', percentComplete);
            if (percentComplete === 100) {
                $('#progress-bar-2').removeClass('bg-primary').addClass('bg-success');
            }
        }
    };

    // Configura las respuestas de éxito y error
    xhr.onload = function() {
        // Oculta la barra de progreso
        $('.progress').hide();

        if (xhr.status === 200) {
            var data = JSON.parse(xhr.responseText);
            Swal.fire({
                title: '¡Éxito!',
                text: data.message,
                icon: 'success'
            }).then((result) => {
                // Recarga la página cuando se cierre la ventana de Swal
                if (result.isConfirmed) {
                    window.location.reload();
                }
            });
        } else {
            var data = JSON.parse(xhr.responseText);
            Swal.fire({
                title: '¡Error!',
                text:  data.error,
                icon: 'error'
            });
        }
    };

    // Envia la solicitud
    xhr.send(formData);
});


$('#videoForm_3').on('submit', function(e) {
    e.preventDefault();
    var formData = new FormData(this);

    // Crea un nuevo objeto XMLHttpRequest
    var xhr = new XMLHttpRequest();

    // Configura la solicitud POST
    xhr.open('POST', '{% url 'core:upload_video' %}', true);

    // Muestra la barra de progreso
    $('.progress').show();

    // Configura la barra de progreso
    xhr.upload.onprogress = function(e) {
        if (e.lengthComputable) {
            var percentComplete = (e.loaded / e.total) * 100;
            $('#progress-bar-3').css('width', percentComplete + '%').attr('aria-valuenow', percentComplete);
            if (percentComplete === 100) {
                $('#progress-bar-3').removeClass('bg-primary').addClass('bg-success');
            }
        }
    };

    // Configura las respuestas de éxito y error
    xhr.onload = function() {
        // Oculta la barra de progreso
        $('.progress').hide();

        if (xhr.status === 200) {
            var data = JSON.parse(xhr.responseText);
            Swal.fire({
                title: '¡Éxito!',
                text: data.message,
                icon: 'success'
            }).then((result) => {
                // Recarga la página cuando se cierre la ventana de Swal
                if (result.isConfirmed) {
                    window.location.reload();
                }
            });
        } else {
            var data = JSON.parse(xhr.responseText);
            Swal.fire({
                title: '¡Error!',
                text:  data.error,
                icon: 'error'
            });
        }
    };

    // Envia la solicitud
    xhr.send(formData);
});



    $('#delete-button').on('click', function(e) {
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'core:delete_video' %}',
        data: {
            'name': 'video_1',
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(data) {
            Swal.fire({
                title: '¡Éxito!',
                text: data.message,
                icon: 'success'
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#reload-button').click();
                    window.location.reload();
                }
            })
        },
        error: function(data) {
            Swal.fire({
                title: '¡Error!',
                text:  data.error,
                icon: 'error'
            });
        }
    });
});

$('#delete-button-2').on('click', function(e) {
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'core:delete_video' %}',
        data: {
            'name': 'video_2',
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(data) {
            Swal.fire({
                title: '¡Éxito!',
                text: data.message,
                icon: 'success'
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#reload-button').click();
                    window.location.reload();
                }
            })
        },
        error: function(data) {
            Swal.fire({
                title: '¡Error!',
                text:  data.error,
                icon: 'error'
            });
        }
    });
});
$('#delete-button-3').on('click', function(e) {
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'core:delete_video' %}',
        data: {
            'name': 'video_3',
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(data) {
            Swal.fire({
                title: '¡Éxito!',
                text: data.message,
                icon: 'success'
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#reload-button').click();
                    window.location.reload();
                }
            })
        },
        error: function(data) {
            Swal.fire({
                title: '¡Error!',
                text:  data.error,
                icon: 'error'
            });
        }
    });
});
});


</script>
{% endblock extra_js %}