{% load static %}
<header>
    <div class="titulo-flex">
      <div class="logo-general">
        <img
          src="{% static 'img/logo.png' %}"
          alt=""
          width="200px"
          data-aos="fade-down-right"
          data-aos-easing="linear"
          data-aos-duration="1500"
        />
      </div>
      <div class="text-titulo">
        <h1
          data-aos="fade-down-right"
          data-aos-easing="linear"
          data-aos-duration="1500"
        >
          RESULTADO DE LOS ANIMALITOS 13/02/24 06:03 PM
        </h1>
      </div>
            <div class="text-titulo">
        <h1
          data-aos="fade-down-right"
          data-aos-easing="linear"
          data-aos-duration="1500"
        >
        06:03:00 PM
        </h1>
      </div>

      <div class="contacto-tlf">
        <h3
          data-aos="fade-down-right"
          data-aos-easing="linear"
          data-aos-duration="1500"
        >
        <i class='bx bx-phone-call' ></i>
          04241883341
        </h3>
      </div>
    </div>
  </header>