{% load static %}
<header>
    <div class="titulo-flex">
      <div class="logo-general">
        <img
          src="{% static 'img/logo.png' %}"
          alt=""
          width="200px"
          data-aos="fade-down-right"
          data-aos-easing="linear"
          data-aos-duration="1500"
        />
      </div>
      <div class="text-titulo">
        <h1
          data-aos="fade-down-right"
          data-aos-easing="linear"
          data-aos-duration="1500"
        >
          Resultados de las loterías 13/02/24 06:03 PM
        </h1>
      </div>
      <div class="contacto-tlf">
        <h3
          data-aos="fade-down-right"
          data-aos-easing="linear"
          data-aos-duration="1500"
        >
          +58 4241883341
        </h3>
      </div>
    </div>
  </header>