{% load static %}
<header style="background-color: red;">
    <div class="titulo-flex">
        <div class="logo-general">
            <img src="{% static 'img/logo.png' %}" alt="" width="200px" data-aos="fade-down-right" data-aos-easing="linear" data-aos-duration="1500" />
        </div>
        <div class="text-titulo" style="color: white;">
            <h1 id="" class="yesterday" fecha-ayer data-aos="fade-down-right" data-aos-easing="linear" data-aos-duration="1500" >
                RESULTADO DE LOS ANIMALITOS
            </h1>
        </div>
        <div class="text-titulo" style="color: white;">
            <h1 hora-ayer data-aos="fade-down-right" data-aos-easing="linear" data-aos-duration="1500">
                <!-- 06:03:00 PM -->
            </h1>
        </div>
        <div class="contacto-tlf">
            <h3 data-aos="fade-down-right" data-aos-easing="linear" data-aos-duration="1500" style="color: white;">
                <i class='bx bx-phone-call' style="color: white;"></i>
                04241883341
            </h3>
        </div>
    </div>
</header>

<!-- poner background color en todo el header
    poner mas grande resultados de los animalitos

-->