
<div class="carousel-item active">
    <div class="cuadroCentral">
      <!-- /* cuadro basado en el header que contiene: logo / titulo junto con hora / numero de telefono */ -->
      {% include "lotoview/header.html" %}
      <!-- /* cuadro basado en el header que contiene: logo / titulo junto con hora / numero de telefono */ -->
      <div
        class="cuadro-central"
        data-aos="zoom-in-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
      {% include "lotoview/loterias/triple_caliente.html" %}
      {% include "lotoview/loterias/triple_caracas.html" %}
      {% include "lotoview/loterias/triple_zulia.html" %}
      {% include "lotoview/loterias/triple_zamorano.html" %}
      </div>
    </div>
    
    <div class="cuadroCentral"><div
        class="cuadro-central"
        data-aos="zoom-in-down"
        data-aos-easing="linear"
        data-aos-duration="1500"
      >
      {% include "lotoview/loterias/triple_chance.html" %}
      {% include "lotoview/loterias/triple_tachira.html" %}
      {% include "lotoview/loterias/trio_activo.html" %}
      {% include "lotoview/loterias/ricachona.html" %}
      </div>
    </div>
  </div>