{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="{% static 'style/bootstrap/bootstrap-grid.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'style/bootstrap/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'style/loteria.css' %}" />
    <link rel="stylesheet" href="{% static 'style/animalito.css' %}" />

    <!-- boxicon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- boxicon -->
  </head>
  <body>
    <!-- holaa -->
    <div
      id="carouselExampleFade"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
      data-bs-interval="20000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="cuadroCentral">
            <!-- /* cuadro basado en el header que contiene: logo / titulo junto con hora / numero de telefono */ -->
            {% include "lotoview/header.html" %}
            <!-- /* cuadro basado en el header que contiene: logo / titulo junto con hora / numero de telefono */ -->
            <div
              class="cuadro-central"
              data-aos="zoom-in-down"
              data-aos-easing="linear"
              data-aos-duration="1500"
            >
              {% include "lotoview/animalitos/chance_animalitos.html" %}
              {% include "lotoview/animalitos/guacharo_activo.html" %}
              {% include "lotoview/animalitos/selva_plus.html" %}
              {% include "lotoview/animalitos/lotto_activo.html" %}
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="cuadroCentral">
            <!-- /* cuadro basado en el header que contiene: logo / titulo junto con hora / numero de telefono */ -->
            {% include "lotoview/header.html" %}
            <!-- /* cuadro basado en el header que contiene: logo / titulo junto con hora / numero de telefono */ -->
            <div
              class="cuadro-central"
              data-aos="zoom-in-down"
              data-aos-easing="linear"
              data-aos-duration="1500"
            >
            {% include "lotoview/animalitos/lotto_rey.html" %}
            {% include "lotoview/animalitos/granjita.html" %}
            {% include "lotoview/animalitos/grana_plus.html" %}
            {% include "lotoview/animalitos/ricachona.html" %}
            </div>
          </div>
        </div>
      </div>

      {% include "lotoview/buttons.html" %}
    </div>
    
    {% include "lotoview/footer.html" %}
  </body>
</html>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
