{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La revista de Loteria</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="{% static 'style/bootstrap/bootstrap-grid.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'style/bootstrap/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'style/loteria.css' %}" />
    <link rel="stylesheet" href="{% static 'style/animalito.css' %}" />

    <!-- boxicon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- boxicon -->
  </head>
  <body>
    <!-- holaa -->
    <div
      id="carouselExampleFade"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
      data-bs-interval="8000"
    >
      <div class="carousel-inner">
        <!-- Include de loterias del dia en -->
        {% include "lotoview/include_animalitos.html" %}
        {% if video != None %}
            {% include "lotoview/playervideo/include_videos.html" %}
        {% endif %}

        <!-- Include de loterias del dia en -->
        {% include "lotoview/include_loterias.html" %}
        {% if video_2 != None %}
            {% include "lotoview/playervideo/include_videos_2.html" %}
        {% endif %}
        {% include "lotoview/include_loterias_1.html" %}
        
        {% if video_3 != None %}
            {% include "lotoview/playervideo/include_videos_3.html" %}
        {% endif %}
      </div>

      {% include "lotoview/buttons.html" %}
    </div>
    
    {% include "lotoview/footer.html" %}
  </body>
</html>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/date.js' %}"></script>
<script src="{% static 'js/webSocket.js' %}"></script>
<script src="{% static 'js/videos_script_next.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
