{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La revista de Loteria</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="{% static 'style/bootstrap/bootstrap-grid.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'style/bootstrap/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'style/loteria.css' %}" />
    <link rel="stylesheet" href="{% static 'style/animalito.css' %}" />

    <!-- boxicon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- boxicon -->
  </head>
  <body>
    <!-- holaa -->
    <div
      id="carouselExampleFade"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
      data-bs-interval="15000"
    >
      <div class="carousel-inner">
        <!-- Include de loterias del dia en -->
        {% include "lotoview/include_animalitos.html" %}
        <!-- Include de loterias del dia en -->
        {% include "lotoview/include_loterias.html" %}
        {% include "lotoview/include_loterias_1.html" %}

        <!-- Include de información día anterior -->

      </div>

      {% include "lotoview/buttons.html" %}
    </div>
    
    {% include "lotoview/footer.html" %}
  </body>
</html>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script type="text/javascript">
  // var date = new Date();
  // date.setDate(date.getDate() - 1);
  // var day = date.getDate();
  // var month = date.getMonth() + 1;
  // var year = date.getFullYear();

  // day = (day < 10) ? '0' + day : day;
  // month = (month < 10) ? '0' + month : month;

  // var yesterday = day + '/' + month + '/' + year;
  // console.log(yesterday)
  // $('#yesterday').text('RESULTADO DE LOS ANIMALITOS ' + yesterday);

  function actualizarFechaHora() {
      let ahora = new Date();

      // Formatea la fecha como DD/MM/YY
      let fecha = ahora.toLocaleDateString('es-VE', { day: '2-digit', month: '2-digit', year: 'numeric' });

      // Formatea la hora como HH:MM:SS
      let hora = ahora.toLocaleTimeString('es-VE', { hour: '2-digit', minute: '2-digit', second: '2-digit' });

      // Actualiza los elementos HTML
      $('h1[fecha]').text('RESULTADO DE LOS ANIMALITOS ' + fecha);
      $('h1[hora]').text(hora);
  }

  // Actualiza la fecha y la hora cada segundo
  setInterval(actualizarFechaHora, 1000);
</script>
<script type="text/javascript">
  let horarios = {
    'TripleCaliente': ['1:00 PM', '4:30 PM', '7:10 PM'],
    'TripleCaracas': ['1:00 PM', '4:30 PM', '7:00 PM'],
    'TripleZulia': ['12:45 PM', '4:45 PM', '7:05 PM'],
    'TripleZamorano': ['12:00 PM', '4:00 PM', '7:00 PM'],
    'TripleChance': ['1:00 PM', '4:30 PM', '7:00 PM'],
    'TripleTachira': ['1:15 PM', '4:45 PM', '7:20 PM'],
    // 'TrioActivo': ['1:00 PM', '4:30 PM', '7:10 PM'],
    // 'Ricachona': ['1:00 PM', '4:30 PM', '7:10 PM'],
    // Añade aquí los horarios para los otros modelos
};
// Función para conectar al WebSocket
let webSocket;
let url = `ws://${window.location.host}/ws/socket-server/`;

function connect() {
    webSocket = new WebSocket(url);

    webSocket.onopen = function(e) {
        // console.log('Conexión WebSocket abierta');
    };

    webSocket.onclose = function(e) {
        // console.log('Conexión WebSocket cerrada. Reconectando...');
        setTimeout(connect, 1000);
    };

    webSocket.onerror = function(err) {
        // console.error('WebSocket Error:', err);
    };

    webSocket.onmessage = function(e) {
      let data = JSON.parse(e.data);
      console.log(data)
      if (data === 'reload') {
          location.reload();
      }else{
        let tablaId = data.modelo;
        let modelos = ['TripleCaliente', 'TripleCaracas', 'TripleZulia', 'TripleZamorano', 'TripleChance', 'TripleTachira', 'TrioActivo', 'Ricachona'];
        if (modelos.includes(tablaId)) {
            if (tablaId === 'TrioActivo' || tablaId === 'Ricachona') {
                let tablas = document.querySelectorAll(`.${tablaId}`);
                for (let tabla of tablas) {
                    let hora = tabla.querySelector('thead tr th').textContent;
                    if (hora === data.hour_sort) {
                        let fila = tabla.querySelector('tbody tr');
                        fila.children[0].textContent = data.a;
                        break;
                    }
                }
            }else {
                let indice = horarios[tablaId].indexOf(data.hour_sort) + 1;
                let tabla = document.querySelector(`.${tablaId}-${indice}`);
                let filaVieja = tabla.querySelector('tbody tr');
                filaVieja.remove();
                let nuevaFila = tabla.querySelector('tbody').insertRow(-1);

                if(tablaId === 'TripleZamorano'){
                  nuevaFila.insertCell(0).textContent = data.a;
                  nuevaFila.insertCell(1).textContent = data.c;
                  let celdaZod = nuevaFila.insertCell(2);
                  celdaZod.textContent = data.zod;
                  celdaZod.style.color = 'red';
                }else{
                  nuevaFila.insertCell(0).textContent = data.a;
                  nuevaFila.insertCell(1).textContent = data.b;
                  nuevaFila.insertCell(2).textContent = data.c;
                  let celdaZod = nuevaFila.insertCell(3);
                  celdaZod.textContent = data.zod;
                  celdaZod.style.color = 'red';
                }
            }
        } else {
            let filas = document.querySelectorAll(`#${tablaId} tbody tr`);
            for (let i = 0; i < filas.length; i++) {
                let fila = filas[i];
                let hora = fila.children[0].textContent;

                if (hora === data.hour_sort) {
                    fila.children[1].textContent = data.animalito;
                    fila.children[2].textContent = data.animalito_name;
                    let imagen = fila.children[3].children[0];
                    imagen.src = data.image_path;
                    imagen.alt = data.animalito_name;
                    imagen.style.opacity = '1';
                    break;
                }
            }
        }
      }
};

}

// Conectamos al WebSocket
connect()

</script>
