{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La revista de Loteria</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="{% static 'style/bootstrap/bootstrap-grid.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'style/bootstrap/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'style/loteria.css' %}" />
    <link rel="stylesheet" href="{% static 'style/animalito.css' %}" />
    <link rel="stylesheet" href="{% static 'style/todavy_vid.css' %}" />


    <!-- boxicon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- boxicon -->
  </head>
  <body>
    <!-- holaa -->
    <div
      id="carouselExampleFade"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
      data-bs-interval="8000"
    >
      <div class="carousel-inner">

        <!-- Include de loterias del dia en -->  
        {% include "lotoview/videoActual/relojDigital.html" %}    
        {% include "lotoview/videoActual/animalito.html" %}    
        {% include "lotoview/videoActual/video_actual.html" %}    

 

      </div>

      {% include "lotoview/buttons.html" %}
    </div>
  </body>
</html>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/date.js' %}"></script>
<script src="{% static 'js/webSocket.js' %}"></script>
<script src="{% static 'js/videos.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script>
function startTime() {
    var today = new Date();
    var hr = today.getHours();
    var min = today.getMinutes();
    var sec = today.getSeconds();
    ap = (hr < 12) ? "<span>AM</span>" : "<span>PM</span>";
    hr = (hr == 0) ? 12 : hr;
    hr = (hr > 12) ? hr - 12 : hr;
    //Add a zero in front of numbers<10
    hr = checkTime(hr);
    min = checkTime(min);
    sec = checkTime(sec);
    document.getElementById("clock").innerHTML = hr + ":" + min + ":" + sec + " " + ap;
    
    var months = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Deciembre'];
    var days = ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'];
    var curWeekDay = days[today.getDay()];
    var curDay = today.getDate();
    var curMonth = months[today.getMonth()];
    var curYear = today.getFullYear();
    var date = curWeekDay+", "+curDay+" "+curMonth+" "+curYear;
    document.getElementById("date").innerHTML = date;
    
    var time = setTimeout(function(){ startTime() }, 500);
}
function checkTime(i) {
    if (i < 10) {
        i = "0" + i;
    }
    return i;
}



window.onload = startTime();

$(document).ready(function() {
            // Obtener la hora actual
            const now = new Date();
            const hour = now.getHours();
            const minutes = now.getMinutes();

            // Verificar las condiciones y aplicar las clases
            if ((hour >= 1 && hour < 12) || (hour === 12 && minutes < 50)) {
                $('.div_group_2').addClass('d-none');
            } else {
                $('.div_group_1').addClass('d-none');
            }
        });
</script> 
