{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La revista de Loteria</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="{% static 'style/bootstrap/bootstrap-grid.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'style/bootstrap/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'style/loteria.css' %}" />
    <link rel="stylesheet" href="{% static 'style/animalito.css' %}" />

    <!-- boxicon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- boxicon -->
  </head>
  <body>
    <!-- holaa -->
    <div
      id="carouselExampleFade"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
      data-bs-interval="8000"
    >
      <div class="carousel-inner">

        <!-- <div class="contenedor">
          <div class="widget">
            <div class="fecha">
              <p id="diaSemana" class="diaSemana"></p>
              <p id="dia" class="dia"></p>
              <p>de</p>
              <p id="mes" class="mes"></p>
              <p>del</p>
              <p id="anio" class="anio"></p>
            </div>
            <div class="reloj">
              <p id="horas" class="horas"></p>
              <p>:</p>
              <p id="minutos" class="minutos"></p>
              <p>:</p>
              <div class="cajaSegundos">
                <p id="segundos" class="segundos"></p>
                <p id="ampm" class="ampm"></p>
              </div>
            </div>
          </div>
        </div> -->
        <!-- Include de loterias del dia en -->  
        {% include "lotoview/videoActual/relojDigital.html" %}    
        {% include "lotoview/videoActual/animalito.html" %}    
        {% include "lotoview/videoActual/animalitos.html" %}    
        {% include "lotoview/videoActual/video_actual.html" %}    

 

      </div>

      {% include "lotoview/buttons.html" %}
    </div>
  </body>
</html>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/date.js' %}"></script>
<script src="{% static 'js/webSocket.js' %}"></script>
<script src="{% static 'js/videos.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script>
  $(function(){
var actualizarHora = function(){
  var fecha = new Date(),
      hora = fecha.getHours(),
      minutos = fecha.getMinutes(),
      segundos = fecha.getSeconds(),
      diaSemana = fecha.getDay(),
      dia = fecha.getDate(),
      mes = fecha.getMonth(),
      anio = fecha.getFullYear(),
      ampm;
  
  var $pHoras = $("#horas"),
      $pSegundos = $("#segundos"),
      $pMinutos = $("#minutos"),
      $pAMPM = $("#ampm"),
      $pDiaSemana = $("#diaSemana"),
      $pDia = $("#dia"),
      $pMes = $("#mes"),
      $pAnio = $("#anio");
  var semana = ['Domingo','Lunes','Martes','Miercoles','Jueves','Viernes','Sabado'];
  var meses = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
  
  $pDiaSemana.text(semana[diaSemana]);
  $pDia.text(dia);
  $pMes.text(meses[mes]);
  $pAnio.text(anio);
  if(hora>=12){
    hora = hora - 12;
    ampm = "PM";
  }else{
    ampm = "AM";
  }
  if(hora == 0){
    hora = 12;
  }
  if(hora<10){$pHoras.text("0"+hora)}else{$pHoras.text(hora)};
  if(minutos<10){$pMinutos.text("0"+minutos)}else{$pMinutos.text(minutos)};
  if(segundos<10){$pSegundos.text("0"+segundos)}else{$pSegundos.text(segundos)};
  $pAMPM.text(ampm);
  
};


actualizarHora();
var intervalo = setInterval(actualizarHora,1000);
});
</script> 
