{% load static %}
<div class="cuadro">
    <div class="cuadro1">
        <div class="cuadroLadoaladoAnimalito">
            <div class="cuadroTexto">
                <h5>SELVA PLUS</h5>
                
            </div>
            <div class="cuadroImagen">
              <img src="{% static 'img/selvaplus/selva-plus.png' %}" alt="" id="foto1" />
            </div>
        </div>
    </div>
    <div class="cuadro2">
 
      <table >
        <style>  
          tr th {
          background-color: blue;
          color:white;
          text-align: center;
          border-radius: 10px;  
          padding: 10px;   
          font-size: 12px;
         }     
         .tTable{ 
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap; 
         }
         .tTable tr{
          margin-left: 5px;
         }
        </style>   
        <tbody class="tTable">
          {% for animalito in animalitos.SelvaPlus %}
          <tr>
            <td>
              {% if animalito.image_path != '----------' %}
              <img src="{{ animalito.image_path }}" alt="{{ animalito.animalito_name }}" style="width:175px !important; height:175px !important;" />
              {% else %}
              <img src="{% static 'img/logo.png' %}" style="opacity: 0.5;" alt="" style="width:175px !important; height:175px !important;"/>
              {% endif %}
            </td> 
            <th style="display: block;">{{ animalito.hour_sort }}</th> 
          </tr>  
          {% endfor %}
        </tbody> 
 
      </table>  
        
    </div>
    <div class="cuadro3">
        
    </div>
</div>
