
{% load static %}
              <div class="cuadro">
                <div class="cuadro1">
                  <div class="cuadroLadoaladoAnimalito">
                    <div class="cuadroTexto">
                      <h5>GUACHARO ACTIVO</h5>
                    </div>
                    <div class="cuadroImagen">
                      <img
                        src="{% static 'img/guacharoactivo/logo-1.png' %}"
                        alt=""
                        id="foto1"
                      />
                    </div>
                  </div>
                </div>
                <div class="cuadro2">
                  {% with records=GuacharoActivo %}
                    <table id="GuacharoActivo">
                        <thead>
                            <tr>
                                <th>Hora</th>
                                <th>Nro</th>
                                <th>Nombre</th>
                                <th>Animal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in records %}
                                <tr>
                                    <td>{{ record.hour_sort }}</td>
                                    <td>{{ record.animalito }}</td>
                                    <td>{{ record.animalito_name }}</td>
                                    <td>
                                        {% if record.image_path != '----------' %}
                                            <img src="{{ record.image_path }}" alt="{{ record.animalito_name }}" width="75px" height="50px">
                                        {% else %}
                                        <img src="{% static 'img/logo.png' %}" style="opacity: 0.5;" alt="" width="75px" height="50px">
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endwith %}
                </div>
                <div class="cuadro3"></div>
              </div>